.newDiv {
    display: flex;
}

span {
    display: flex;
    border: 1px solid white;
    width: 100px;
    height: 100px;
    background-color: blue;
}

body {
    color: white;
    font-family: 'Poiret One';
    font-size: 20px;
    text-align: center;
}

p {
    text-align: left;
    color: black;
}